body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #root {
    height: 100vh;
  }
  
  .bg {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .page1 {
    background-image: linear-gradient(135deg, #fff6b7 10%, #f6416c 100%);
  }
  
  .page2 {
    background-image: linear-gradient(135deg, #ffe985 10%, #fa742b 100%);
  }
  
  .home {
    background-image: linear-gradient(135deg, #5efce8 10%, #736efe 100%);
  }
  
  .nav-items {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  .nav-items li {
    margin-right: 3rem;
  }
  
  .nav-items a {
    color: black;
    text-decoration: none;
  }
  
  footer {
    text-align: center;
    margin-top: 1rem;
  }
  